
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Day la trang chu</h1>
        <h2>NguyenNhatNam</h2>
    </div>
</body>
</html>
